h1 {
    text-align: center;
    font-size: 48px;
    background-color: teal;
    color: white;
    margin-bottom: 0%;
    font-family: 'Open Sans Condensed';
    padding: 20px;
}

body{
    background-color: lightgrey;
    min-height: 100vh;
    
}

main {
    min-height: calc(100vh - 233px);
    padding: 40px;
    
    
}

a{
    color:white
}

/* the box around "About Me"*/
.boxed {
    border: 5px solid teal ;
    margin-top: 50px;
    padding-top: 10px;
    font-family: 'Open Sans Condensed';
    font-size: 28px;
    margin-bottom: 50px;
    color:white;
  }

  h2 {
      text-align: center ;
      font-size: 36px;
  }

  /* Personal photo*/
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  p {
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 30px;
      text-indent: 30px;
    
       }

  /*labels in contact form*/
  label {
      font-family:'Open Sans Condensed';
      font-size:18px
  }

  /*submit button on contact form*/
.btn {
    margin-bottom: 20px;
   
}

/* inside of the cards on Portfolio page*/
  .card-body{
    text-align: center;
    font-family:'Open Sans Condensed';
     font-size:20px;
     background-color:teal;
     
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;

}

footer {
    text-align: center;
    background-color:teal;
    color: white;
   border: white;
   padding: 5px;
   
}

.container {
    max-width: 960px;
    width:100%;
    min-height: 200px;
    background-color: teal;
    
    
}

.navbar-expand { 
    justify-content: center!important;
 }