h1 {
    text-align: center;
    font-size: 48px;
    background-color: palevioletred;
    color: white;
    margin-bottom: 0%;
    font-family: 'Open Sans Condensed';
    padding: 20px;
}

body{
    background-color: lightgrey
   
}

.boxed {
    border: 5px solid palevioletred ;
    margin-top: 20px;
    padding-top: 10px;
    background-color: white;
    font-family: 'Open Sans Condensed';
    font-size: 18px;
  }

  h2 {
      text-align: center ;
      font-size: 36px;
  }

  p {
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 30px;
      text-indent: 30px;
    
       }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  label {
      font-family:'Open Sans Condensed';
      font-size:18px
  }

.card-body{
    text-align: center;
    font-family:'Open Sans Condensed';
     font-size:20px;
     background-color:white;
     
}